<template>
    <div>
        <i class="fa fa-file-text-o fa-2x"></i>
        <i class="fa fa-file-text-o fa-2x"></i>
        <i class="fa fa-file-text-o fa-2x"></i>
        <i class="fa fa-file-text-o fa-2x"></i>
    </div>
</template>
<style>

</style>
<script>

    export default{
      data () {
        return {
        }
      },
      components: {

      }
    }
</script>
