<template>
    <div>
        <div v-if="total" class="animated fadeIn">
            <div class="row">
                <div class="col-sm-12">
                    <span><em>arquivos: </em><span class="badge">{{ total }}</span></span>
                    <button class="btn btn-primary btn-sm pull-right" @click.prevent="openFolderAtOS()"><i class="fa fa-search"></i></button>
                </div>
            </div>

            <div class="content">
                <transition-group name="list" tag="div">
                    <div v-for="(file, index) in files" :key="file" class="row vertical-align list-content" :class="{ new : isNew(file) }">
                        <div class="col-sm-2 text-center">
                            <span @dblclick.prevent="openFile(file.path)"><i class="fa fa-file-code-o fa-2x"></i></span>
                        </div>
                        <div class="col-sm-4 small no-padding">
                <span>
                    {{ formatDate(file.createdAt) }}
                </span>
                        </div>
                        <div class="col-sm-5 small" :title="file.size">
                            {{ file.name }}
                        </div>
                        <div class="col-sm-1 text-center no-padding">
                            <button class="btn btn-danger btn-xs" @click.prevent="removeAndSendFileToTrashOS(file.path, index)"><i class="fa fa-trash"></i></button>
                        </div>

                    </div>
                </transition-group>
            </div>

        </div>
    </div>

</template>
<style scope lang="scss">
    .content {
        /*border: 1px solid red;*/
    }
    .no-padding {
        padding: 0;
    }
    .row {
        margin: 10px 0;
    }
    .vertical-align {
        display: flex;
        flex-direction: row;
    }
    .vertical-align {
        > [class^="col-"], > [class*=" col-"] {
            display: flex;
            align-items: center;
        }
        .text-center {
            justify-content: center;
        }
    }
    .list-content {
        margin-bottom: 5px;
        transition: all 0.5s;
    }
    .list-enter, .list-leave-to {
        opacity: 0;
        transform: translateY(30px);
    }
    .new {
        color: #5cb85c;
    }
</style>
<script>
    import { shell } from 'electron'
    import path from 'path'
    import moment from 'moment'
    import { notification } from '../../models/notificationApi'

    export default{
      data () {
        return {
        }
      },
      methods: {
        openFile (pathFile) {
          shell.openExternal('file://' + pathFile)
        },
        removeAndSendFileToTrashOS (pathFile, index) {
          let name = pathFile.split(path.sep)
          name = name[name.length - 1]
          if (shell.moveItemToTrash(pathFile)) {
            this.$store.dispatch('removeFileFromEncriptados', index)
            notification.title = 'Arquivo enviado para a Lixeira com sucesso!'
            notification.options.body = name
            notification.options.silent = false
            notification.notify()
          } else {
            notification.title = 'Erro ao tentar enviar o arquivo para a Lixeira!'
            notification.options.body = name
            notification.options.silent = false
            notification.notify()
          }
        },
        openFolderAtOS () {
          let fisrstFilePath = this.files[0] ? this.files[0].path : ''
          if (!shell.showItemInFolder(fisrstFilePath)) {
            notification.title = 'Erro ao tentar abrir a pasta dos arquivos!'
            notification.options.body = ''
            notification.options.silent = false
            notification.notify()
          }
        },
        isNew (file) {
          let reference = moment().subtract(59, 'seconds')
          let createdAt = file.createdAt
          return moment(createdAt).isSameOrAfter(reference)
        },
        formatDate (date) {
          return moment(date).format('llll')
        }
      },
      components: {

      },
      computed: {
        files () {
          return this.$store.state.filesEncriptados
        },
        total () {
          return this.$store.state.filesEncriptados.length
        }
      }

    }
</script>
