<template>
    <div>

        <div class="row vertical-align">
            <div class="col-sm-2 text-center">
                <i class="fa fa-file-pdf-o fa-2x"></i>
            </div>
            <div class="col-sm-4 small no-padding">
                <span>
                    2017-07-02 18:40
                </span>
            </div>
            <div class="col-sm-5 small">
                nome
            </div>
            <div class="col-sm-1 text-center no-padding">
                <button class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
            </div>

        </div>

    </div>
</template>
<style scope lang="scss">
    .no-padding {
        padding: 0;
    }
    .row {
        margin: 10px 0;
    }
    .vertical-align {
        display: flex;
        flex-direction: row;
    }
    .vertical-align {
        > [class^="col-"], > [class*=" col-"] {
            display: flex;
            align-items: center;
        }
        .text-center {
            justify-content: center;
        }
    }
</style>
<script>

    export default{
      data () {
        return {
        }
      },
      components: {

      }
    }
</script>
