<template>
  <div class="drop-files">
    <div
            class="box"
            @dragover.prevent
            @dragend.prevent
            @drop="handleDrop($event)"
    >
      <input type="file" name="file" id="file" class="input-file" @change="handleDrop($event)" multiple>
      <p class="text-center text-muted message">
        Arraste seus arquivos para aqui... <span class="clique-input-files"> ou clique para selecionar múltiplos! </span>
      </p>
    </div>
  </div>
</template>

<script>
  export default {
    methods: {
      handleDrop (e) {
        e.preventDefault()
        let self = this
        let files = e.target.files || e.dataTransfer.files

        if (!files.length) return

        Object.keys(files).forEach(function (key) {
          if (files[key].type === 'application/pdf') {
            self.fileToList(files[key])
          } else {
            alert('File must be a PDF!')
          }
        })

        return false
      },
      fileToList (file) {
        this.$store.dispatch('addFileToList', file)
      }
    }
  }
</script>

<style lang=scss>
.drop-files {
  .box {
    margin: 0 20px 20px 20px;
    height: 100px;
    border: 3px dotted #cccccc;
  }
  .message {
    margin: 10px;
    color: #dddddd;
  }
  .input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .clique-input-files {
    cursor: pointer;
  }
}
</style>
