<template>
<div>
  <div class="row">
    <div v-if="!total" class="col-sm-12">
      <p class="text-muted small"><em>sem arquivos ...</em></p>
    </div>

    <div v-if="total" class="col-sm-12">
      <div class="panel panel-default">

        <div class="panel-heading">
          <p>
            <span>arquivos: <span class="badge">{{ total }}</span></span>
          </p>
        </div>

        <div class="panel-body">

          <transition-group name="list" tag="div">
            <div class="row list-content" v-for="(fileObj, index) in files" :key="fileObj">
              <div class="col-sm-2 text-center no-padding">
                <button class="btn btn-primary btn-xs" @click.prevent="moveFileUp(index)"><i class="fa fa-arrow-up"></i></button>
                <button class="btn btn-primary btn-xs" @click.prevent="moveFileDown(index)"><i class="fa fa-arrow-down"></i></button>
              </div>
              <div class="col-sm-1 text-center no-padding">
                <button class="btn btn-default btn-xs" @click.prevent="openFile(fileObj.file.path)"><i class="fa fa-search"></i></button>
              </div>
              <div class="col-sm-6">{{ fileObj.file.name }}</div>
              <div class="col-sm-2 text-center no-padding">{{ formatSize(fileObj.file.size, true) }}</div>
              <div class="col-sm-1 text-center">
                <button class="btn btn-danger btn-xs" @click.prevent="removeFile(index)"><i class="fa fa-times"></i></button>
              </div>
            </div>
          </transition-group>

        </div>
      </div>
    </div>
  </div>
</div>
</template>
<style scope lang="scss">
  .panel {
    margin-bottom: 0;
  }
  .panel-body {
    position: relative;
  }
  .no-padding {
    padding: 0;
  }
  .panel-default {
    .panel-heading {
      background-color: transparent;
      padding: 0;
      p {
        margin: 5px;
      }
    }
  }
  .row {
    .list-content {
      margin-bottom: 5px;
      transition: all 0.5s;
    }
    .list-enter, .list-leave-to {
      opacity: 0;
      transform: translateY(30px);
    }
  }
</style>
<script>
  const { shell } = require('electron')

export default {
    mounted () {
    },
    data () {
      return {}
    },
    methods: {
      removeFile (index) {
        this.$store.dispatch('removeFileFromList', index)
      },
      moveFileUp (index) {
        this.$store.dispatch('moveFileUpInList', index)
      },
      moveFileDown (index) {
        this.$store.dispatch('moveFileDownInList', index)
      },
      formatSize (bytes, si) {
        var thresh = si ? 1000 : 1024
        if (Math.abs(bytes) < thresh) {
          return bytes + ' B'
        }
        let units = si
              ? ['kB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
              : ['KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB']
        let u = -1
        do {
          bytes /= thresh
          ++u
        } while (Math.abs(bytes) >= thresh && u < units.length - 1)
        return bytes.toFixed(0) + ' ' + units[u]
      },
      openFile (path) {
        shell.openExternal('file://' + path)
      }
    },
    computed: {
      files () {
        return this.$store.state.filesInList.files
      },
      total () {
        return this.$store.state.filesInList.files.length
      }
    }
  }
</script>
