<template>
    <div>

        <my-header></my-header>

        <div class="container-fluid">
            <div class="row">

                <h1>Sobre</h1>

            </div>
        </div>

        <my-footer></my-footer>
    </div>
</template>
<style lang="scss">

</style>
<script>
    import MyHeader from './Header'
    import MyFooter from './Footer'

    export default{
      data () {
        return {

        }
      },
      components: {
        MyHeader,
        MyFooter
      }
    }
</script>
