<template>
  <div>
      <div class="col-sm-6 col-sm-offset-1 main animated fadeIn">
        <drop-files-box></drop-files-box>
        <files-table></files-table>
      </div>
  </div>
</template>
<style lang="scss">
  .main {
    padding: 20px;
  }
  .main .page-header {
    margin-top: 0;
  }
</style>
<script>
  import DropFilesBox from './FilesManager/DropFilesBox'
  import FilesTable from './FilesManager/FilesTable'

  export default {
    components: {
      DropFilesBox,
      FilesTable
    }
  }
</script>
