<template>
    <div>
      <div class="col-sm-5 main animated fadeIn">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li role="presentation" :class="{ active: tab == 'concatenados' }"><a @click.prevent="changeTabTo('concatenados')" href="#"><i class="fa fa-download"></i></a></li>
            <li role="presentation" :class="{ active: tab == 'separados' }"><a @click.prevent="changeTabTo('separados')" href="#"><i class="fa fa-upload"></i></a></li>
            <li role="presentation" :class="{ active: tab == 'encriptados' }"><a @click.prevent="changeTabTo('encriptados')" href="#"><i class="fa fa-lock"></i></a></li>
            <li role="presentation" :class="{ active: tab == 'desencriptados' }"><a @click.prevent="changeTabTo('desencriptados')" href="#"><i class="fa fa-unlock"></i></a></li>
            <li role="presentation" :class="{ active: tab == 'imagens' }"><a @click.prevent="changeTabTo('imagens')" href="#"><i class="fa fa-magic"></i></a></li>
            <li role="presentation" :class="{ active: tab == 'assinados' }"><a @click.prevent="changeTabTo('assinados')" href="#"><i class="fa fa-pencil"></i></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div v-if="tab == 'concatenados'"><concatenados-tab></concatenados-tab></div>
            <div v-if="tab == 'separados'"><separados-tab></separados-tab></div>
            <div v-if="tab == 'encriptados'"><encriptados-tab></encriptados-tab></div>
            <div v-if="tab == 'desencriptados'"><desencriptados-tab></desencriptados-tab></div>
            <div v-if="tab == 'imagens'"><imagens-tab></imagens-tab></div>
            <div v-if="tab == 'assinados'"><assinados-tab></assinados-tab></div>
        </div>
      </div>
    </div>
</template>
<style lang="scss">
  .main {
    padding: 20px;
  }
  .main .page-header {
    margin-top: 0;
  }
</style>
<script>
    import ConcatenadosTab from './FilesFolder/ConcatenadosTab'
    import SeparadosTab from './FilesFolder/SeparadosTab'
    import EncriptadosTab from './FilesFolder/EncriptadosTab'
    import DesencriptadosTab from './FilesFolder/DesencriptadosTab'
    import ImagensTab from './FilesFolder/ImagensTab'
    import AssinadosTab from './FilesFolder/AssinadosTab'

    export default{
      data () {
        return {
          tab: 'concatenados'
        }
      },
      methods: {
        changeTabTo (tab) {
          this.tab = tab
        }
      },
      computed: {
        tab () {
          return this.tab
        }
      },
      components: {
        ConcatenadosTab,
        SeparadosTab,
        EncriptadosTab,
        DesencriptadosTab,
        ImagensTab,
        AssinadosTab
      }
    }
</script>
