<template>
    <div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted text-center">&lt;mbp&gt;&nbsp;pdf tools - mourabraz@hotmail.com &copy; 2017</p>
            </div>
        </footer>
    </div>
</template>
<style lang="scss">
.footer {
    position: absolute;
    z-index: 1001;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    .container {
        padding: 0;
        p {
            margin: 20px
        }
    }
}
</style>
<script>

    export default{
      data () {
        return {
        }
      },
      components: {

      }
    }
</script>
