<template>
    <div>
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                  <router-link class="navbar-brand" to="home">&lt;mbp&gt;&nbsp;Pdf Tools</router-link>
                </div>

                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <router-link class="btn btn-default" to="about">Sobre</router-link>
                  </li>
                  <li>
                    <router-link class="btn btn-default" to="settings"><i class="fa fa-cog"></i></router-link>
                  </li>
                  <li><a class="btn btn-default" href="#" @click.prevent="close()"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</template>
<style lang="scss">
  .navbar {
    border: 0;
    margin-bottom: 0;
    border-bottom: 0.5px solid #cccccc;
    background-color: white;
  }
    .navbar-fixed-top {
      ul {
        margin-right: 5px;
        li {
          a {
            margin: 9px 0 9px 15px;
            padding: 5px;
          }
        }
      }
    }
</style>
<script>
    import electron from 'electron'

    export default{
      data () {
        return {
        }
      },
      methods: {
        close () {
          electron.remote.getCurrentWindow().close()
        }
      },
      components: {
      }
    }
</script>
