<template>
  <div>

    <my-header></my-header>

    <div id="home" class="container-fluid">
      <div class="row">
        <!-- SIDE BAR -->
        <side-bar></side-bar>
        <!-- CONTENTE PAGES-->
        <files-manager></files-manager>
        <files-folder></files-folder>
      </div>
    </div>

    <my-footer></my-footer>
  </div>
</template>
<style lang="scss">
  #home {
    /*600 - 133= 467*/
    height: 467px;
    overflow-y: scroll;
  }
</style>
<script>
  import MyHeader from './Header'
  import MyFooter from './Footer'
  import SideBar from './SideBar'
  import FilesManager from './FilesManager'
  import FilesFolder from './FilesFolder'

  export default{
    name: 'home',
    mounted () {
      (document.getElementById('home')).style.height = (window.outerHeight - 133) + 'px'
      window.onresize = function () {
        (document.getElementById('home')).style.height = (window.outerHeight - 133) + 'px'
      }
    },
    components: {
      MyHeader,
      MyFooter,
      SideBar,
      FilesManager,
      FilesFolder
    }
  }
</script>
