<template>
    <div>

        <my-header></my-header>

        <div class="container-fluid">
            <div class="row">

                <h1>Configurações</h1>
                <p>
                  <label>Nome:</label>
                  <input type="text" v-model="name">
                </p>
              <p>
                <label>Senha de encriptação:</label>
                <input type="text" v-model="password">
              </p>
              <p>
                <label>Ligar/Desligar silêncio:</label>
                <input type="checkbox" id="checkbox" v-model="notifications">
                <label for="checkbox">{{ notifications }}</label>
              </p>
              <p>
                teste do som das notificações:
                <button class="btn btn-warning btn-sm" @click.prevent="testNotifications()">teste</button>
              </p>
                <button class="btn btn-success" @click.prevent="save()">Salvar</button>

            </div>
        </div>

        <my-footer></my-footer>
    </div>
</template>
<style lang="scss">

</style>
<script>
  import Config from 'electron-config'
  import { notification } from '../models/notificationApi'
  import MyHeader from './Header'
  import MyFooter from './Footer'
  let config = new Config()

  export default{
    mounted () {

    },
    data () {
      return {
        notifications: config.get('notifications') || false,
        name: config.get('name') || 'Test',
        password: config.get('password') || 'test'
      }
    },
    computed: {
    },
    methods: {
      testNotifications () {
        notification.title = 'Teste de notificação!'
        notification.options.body = this.notifications ? 'Sem som' : 'Com som'
        notification.options.silent = this.notifications
        notification.notify()
      },
      save () {
        if (this.name) {
          config.set('name', this.name)
        }
        if (this.password) {
          config.set('password', this.password)
        }
        config.set('notifications', this.notifications)
      }
    },
    components: {
      MyHeader,
      MyFooter
    }
  }
</script>
