<template>
    <div>
        <div class="col-sm-1 sidebar">
            <ul class="nav nav-sidebar">
                <li class="text-center" title="Concatenar PDFs">
                  <concatenar-action></concatenar-action>
                </li>
                <li class="text-center" title="Separar PDFs">
                  <button class="btn btn-default btn-sm" :class="{ disabled : isDisabled('separar') }">
                    <i class="fa fa-upload fa-2x"></i>
                  </button>
                </li>
                <li class="text-center" title="Encriptar PDFs">
                  <encriptar-action></encriptar-action>
                </li>
                <li class="text-center" title="Desencriptar PDFs">
                    <button class="btn btn-default btn-sm" :class="{ disabled : isDisabled('desencriptar') }">
                        <i class="fa fa-unlock fa-2x"></i>
                    </button>
                </li>
                <li class="text-center" title="Extrair Imagens dos PDFs">
                    <button class="btn btn-default btn-sm" :class="{ disabled : isDisabled('imagens') }">
                        <i class="fa fa-magic fa-2x"></i>
                    </button>
                </li>
                <li class="text-center" title="Assinar PDFs">
                    <button class="btn btn-default btn-sm" :class="{ disabled : isDisabled('assinar') }">
                        <i class="fa fa-pencil fa-2x"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</template>
<style lang="scss">
    .sidebar {
        position: fixed;
        height: 100%;
        top: 51px;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
    .nav-sidebar {
        margin-right: -21px; /* 20px padding + 1px border */
        margin-left: -20px;
        li {
          margin-bottom: 10px;
        }
    }
</style>
<script>
  import electron from 'electron'
  import { notification } from '../models/notificationApi'
  import ConcatenarAction from './SidebarActions/ConcatenarAction'
  import EncriptarAction from './SidebarActions/EncriptarAction'

export default{
    mounted () {
      electron.ipcRenderer.on('error', function (event, error) {
        notification.title = 'Erro!'
        notification.options.body = error
        notification.options.silent = false
        notification.notify()

        alert(JSON.stringify(error))
      })
    },
    data () {
      return {
      }
    },
    methods: {
      isDisabled (action) {
        if (action === 'separar') { return true }
        if (action === 'desencriptar') { return true }
        if (action === 'imagens') { return true }
        if (action === 'assinar') { return true }
        return true
      }
    },
    components: {
      ConcatenarAction,
      EncriptarAction
    }
}
</script>
