<template>
  <div id="#app">

    <div v-if="loading" class="m-t-large">
      <div class="row col-sm-12">
        <p class="text-center">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </p>
      </div>
    </div>

    <div v-if="!hasJava" class="m-t-large">
      <div class="row col-sm-12">
        <p class="text-center">
          O Java é um requisito do programa! Pode não estar instalado ou a versão instalada não é compatível.
        </p>
        <p class="m-t-large text-center">
          <button class="btn btn-warning" @click.prevent="close()"><i class="fa fa-times"></i> Fechar</button>
        </p>
      </div>
    </div>

    <div v-if="hasJava">
      <router-view></router-view>
    </div>

  </div>
</template>

<script>
    import electron from 'electron'
    import { Helpers } from './helpers'

    export default {
      mounted () {
        this.checkIfJavaIsOk()
      },
      data () {
        return {
          loading: true,
          hasJava: false
        }
      },
      methods: {
        close () {
          electron.remote.getCurrentWindow().close()
        },
        checkIfJavaIsOk () {
          let self = this
          Helpers.checkIfJavaIsOverMinimalVersion(function (err, res) {
            if (res) {
              self.hasJava = true
            }
            if (err) {
              self.hasJava = false
            }
            self.loading = false
          })
        }
      }
    }
</script>

<style lang="scss">
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px;
    margin-top: 51px;
    overflow: hidden;
  }
  button {
    outline: 0 !important;
  }
  .m-t-large {
    margin-top: 150px;
  }
</style>
