<template>
    <div>
      <button class="btn btn-default btn-sm"
              @click.prevent="concatenar()">
        <i class="fa fa-download fa-2x"></i>
      </button>
    </div>
</template>
<style scoped lang="scss">
  button {
    width: 60px;
    height: 60px;
  }
</style>
<script>
  import electron from 'electron'
  import moment from 'moment'
  import { notification } from '../../models/notificationApi'

  export default{
    mounted () {
      let self = this

      electron.ipcRenderer.on('concatenado', function (event, file) {
        file.createdAt = moment(file.createdAt)
        self.$store.dispatch('addFileToConcatenados', file)
        self.$store.dispatch('removeAllFilesFromList')
        notification.title = 'Arquivo Concatenado com sucesso!'
        notification.options.body = file.name
        notification.options.silent = false
        notification.notify()
      })
    },
    data () {
      return {
      }
    },
    methods: {
      isDisabled () {
        return false
      },
      concatenar () {
        let srcFiles = []
        let files = this.$store.state.filesInList.files
        if (!files.length) {
          alert('Lista de arquivos vazia!')
          return
        }

        files.forEach(function (fileObj) {
          srcFiles.push(fileObj.file.path)
        })

        electron.ipcRenderer.send('concatenarFiles', srcFiles)
      }
    },
    components: {

    }
  }
</script>
