<template>
    <div>
      <button class="btn btn-default btn-sm"
              @click.prevent="shouldShowModal()">
        <i class="fa fa-lock fa-2x"></i>
      </button>

      <modal v-if="showModal" @close="showModal = false">
        <h3 slot="header">Senha para encriptar</h3>
        <p slot="body">
          <input type="text" v-model="password">
        </p>
        <div slot="footer">
          <a role="button" class="btn btn-primary btn-sm" @click="encriptar()">
            Encriptar
          </a>
        </div>
      </modal>


    </div>
</template>
<style scoped lang="scss">
  button {
    width: 60px;
    height: 60px;
  }
</style>
<script>
  import electron from 'electron'
  import moment from 'moment'
  import { notification } from '../../models/notificationApi'
  import Modal from '../common/Modal'

  export default{
    mounted () {
      let self = this

      electron.ipcRenderer.on('encriptado', function (event, file) {
        file.createdAt = moment(file.createdAt)
        self.$store.dispatch('addFileToEncriptados', file)
        self.$store.dispatch('removeAllFilesFromList')
        notification.title = 'Arquivo Encriptado com sucesso!'
        notification.options.body = file.name
        notification.options.silent = false
        notification.notify()
      })
    },
    data () {
      return {
        password: 'aloalo123456',
        showModal: false
      }
    },
    methods: {
      isDisabled () {
        return false
      },
      shouldShowModal () {
        let files = this.$store.state.filesInList.files
        if (!files.length) {
          alert('Lista de arquivos vazia!')
          this.showModal = false
        } else {
          this.showModal = true
        }
      },
      encriptar () {
        this.showModal = false
        let srcFiles = []
        let files = this.$store.state.filesInList.files
        if (!files.length) {
          alert('Lista de arquivos vazia!')
          return
        }

        files.forEach(function (fileObj) {
          srcFiles.push(fileObj.file.path)
        })

        electron.ipcRenderer.send('encriptarFiles', this.password, srcFiles)
      }
    },
    components: {
      Modal
    }
  }
</script>
